.flex-start {
  display: flex;
  justify-content: flex-start; }
.flex-end {
  display: flex;
  justify-content: flex-end; }
.flex-between {
  display: flex;
  justify-content: space-between; }
.flex-around {
  display: flex;
  justify-content: space-around; }
.flex-center {
  display: flex;
  justify-content: center; }
  .flex-center-center {
    align-items: center; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 1200px) {
  .container {
    width: 80%; } }
@media (max-width: 768px) {
  .container {
    width: 90%; } }
@media (max-width: 480px) {
  .container {
    width: 94%; } }
.st-12 {
  width: 100%; }
.st-11 {
  width: 91.66666%; }
.st-10 {
  width: 83.33333%; }
.st-9 {
  width: 75%; }
.st-8 {
  width: 66.66666%; }
.st-7 {
  width: 58.33333%; }
.st-6 {
  width: 50%; }
.st-5 {
  width: 41.66666%; }
.st-4 {
  width: 33.33333%; }
.st-3 {
  width: 25%; }
.st-2 {
  width: 16.66666%; }
.st-1 {
  width: 8.33333%; }

@media (max-width: 1200px) and (min-width: 992px) {
  .md-12 {
    width: 100%; }
  .md-11 {
    width: 91.66666%; }
  .md-10 {
    width: 83.33333%; }
  .md-9 {
    width: 75%; }
  .md-8 {
    width: 66.66666%; }
  .md-7 {
    width: 58.33333%; }
  .md-6 {
    width: 50%; }
  .md-5 {
    width: 41.66666%; }
  .md-4 {
    width: 33.33333%; }
  .md-3 {
    width: 25%; }
  .md-2 {
    width: 16.66666%; }
  .md-1 {
    width: 8.33333%; } }
@media (max-width: 991px) and (min-width: 769px) {
  .sm-12 {
    width: 100%; }
  .sm-11 {
    width: 91.66666%; }
  .sm-10 {
    width: 83.33333%; }
  .sm-9 {
    width: 75%; }
  .sm-8 {
    width: 66.66666%; }
  .sm-7 {
    width: 58.33333%; }
  .sm-6 {
    width: 50%; }
  .sm-5 {
    width: 41.66666%; }
  .sm-4 {
    width: 33.33333%; }
  .sm-3 {
    width: 25%; }
  .sm-2 {
    width: 16.66666%; }
  .sm-1 {
    width: 8.33333%; } }
@media (max-width: 768px) {
  .xs-12 {
    width: 100%; }
  .xs-11 {
    width: 91.66666%; }
  .xs-10 {
    width: 83.33333%; }
  .xs-9 {
    width: 75%; }
  .xs-8 {
    width: 66.66666%; }
  .xs-7 {
    width: 58.33333%; }
  .xs-6 {
    width: 50%; }
  .xs-5 {
    width: 41.66666%; }
  .xs-4 {
    width: 33.33333%; }
  .xs-3 {
    width: 25%; }
  .xs-2 {
    width: 16.66666%; }
  .xs-1 {
    width: 8.33333%; } }
@media (max-width: 480px) {
  .xxs-12 {
    width: 100%; }
  .xxs-11 {
    width: 91.66666%; }
  .xxs-10 {
    width: 83.33333%; }
  .xxs-9 {
    width: 75%; }
  .xxs-8 {
    width: 66.66666%; }
  .xxs-7 {
    width: 58.33333%; }
  .xxs-6 {
    width: 50%; }
  .xxs-5 {
    width: 41.66666%; }
  .xxs-4 {
    width: 33.33333%; }
  .xxs-3 {
    width: 25%; }
  .xxs-2 {
    width: 16.66666%; }
  .xxs-1 {
    width: 8.33333%; } }
.btn, .btn-md, .btn-md-r, .btn-sm-r, .btn-full-r, .btn-sm, .btn-full {
  padding: 15px;
  box-sizing: border-box; }
  .btn-md, .btn-md-r, .btn-sm-r, .btn-full-r {
    width: 270px; }
    .btn-md-r {
      border-radius: 10px; }
  .btn-sm {
    width: 170px; }
    .btn-sm-r {
      border-radius: 10px; }
  .btn-full {
    width: 100%; }
    .btn-full-r {
      border-radius: 10px; }

#masthead {
  background-color: transparent;
  border-bottom: 1px solid #181818; }

/*# sourceMappingURL=main.css.map */
